#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-top: 2rem;
  --primary-color: #8338ec;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.fontUsed{
  font-weight: bold;
  color: #777;
}
.heading{
  font-size: 2.5rem;
  font-weight: bold;
  color: #070a0fb6;
}
.paragraph{
  font-size: 1.5rem;
  color: #070a0fb6;
}
.letters{
  font-size: 4rem;
}




/* CSS */
.button-52 {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 9px;
  left: 9px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}