#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-top: 2rem;
  --primary-color: #8338ec;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.fontUsed{
  font-weight: bold;
  color: #777;
}
.heading{
  font-size: 2.5rem;
  font-weight: bold;
  color: #070a0fb6;
}
.paragraph{
  font-size: 1.5rem;
  color: #070a0fb6;
}
.letters{
  font-size: 4rem;
}




/* CSS */
.button-52 {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 9px;
  left: 9px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}



/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 4rem;
  max-width: 140px;
}

.button-35:hover {
  box-shadow: var(--primary-color) 0 0 0 2px, transparent 0 0 0 0;
  color: var(--primary-color);
}
.selected{
  box-shadow: var(--primary-color) 0 0 0 2px, transparent 0 0 0 0;
  color: var(--primary-color);
}
.link-section{
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
}
.link{
  font-weight: 400;
  color: var(--primary-color);
  padding-left: .4rem;
}
.container{
  max-width: 1280px;
  margin: 4rem auto;
  padding-top: 2rem;
}